<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Guestbook</title>
</head>
<body>
<div>
    Total signatures {{.SignsCount}}
    <a href="/guestbook/form">Add signature</a>
</div>
{{ range .Signs }}
<p>{{.}}</p>
{{ end }}
</body>
</html>